<div class="premises">
  <div class="beggin-text">
    <p>
      Vyberte si z naších priestorov, ktorý Vám bude najviac vyhovovať. Na výber
      ponúkame:
    </p>
  </div>

  <div class="image-container">
    <a routerLink="/svadby/priestory/kryta-terasa">
      <img src="assets/img/obhliadka/01.jpg" alt="Image 1" />
      <div class="dim-background"></div>
      <div class="image-text">Krytá Terasa</div>
    </a>
    <a routerLink="/image2">
      <img src="assets/img/obhliadka/02.jpg" alt="Image 2" />
      <div class="dim-background"></div>
      <div class="image-text">Vínna pivnička</div>
    </a>
    <a routerLink="/image3">
      <img src="assets/img/obhliadka/03.jpg" alt="Image 3" />
      <div class="dim-background"></div>
      <div class="image-text">Priestory reštaurácie</div>
    </a>
  </div>
</div>
