<div *ngFor="let section of sections">
  <app-section
    [title]="section.title"
    [text]="section.text"
    [imageDesktop]="section.imageDesktop"
    [imageMobileSmall]="section.imageMobileSmall"
    [imageMobileMedium]="section.imageMobileMedium"
    [dimBackground]="section.dimBackground"
  >
  </app-section>
</div>

<div class="faq-section mt-5">
  <h2>Často kladené otázky</h2>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let faq of faqs">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ faq.question }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{ faq.answer }}</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
