<div *ngFor="let section of sections">
  <app-section [model]="section"> </app-section>
</div>

<div class="stats-section mt-5">
  <h2>Naše úspechy</h2>
  <div class="stats">
    <div class="stat-item">
      <i class="fas fa-heart medium-icon"></i>
      <h3>{{ weddingsOrganized | number }}</h3>
      <p>svadieb</p>
    </div>
    <div class="stat-item">
      <i class="fas fa-glass-cheers medium-icon"></i>
      <h3>{{ peopleAttended | number }}</h3>
      <p>osláv</p>
    </div>
    <div class="stat-item">
      <i class="fas fa-bed medium-icon"></i>
      <h3>{{ peopleAccommodated | number }}</h3>
      <p>ubytovaní</p>
    </div>
  </div>
</div>

<div class="reviews-section mt-5">
  <h2>Recenzie</h2>
  <div class="reviews" *ngFor="let review of reviews">
    <div class="review-item">
      <img [src]="review.photo" alt="Reviewer photo" class="review-photo" />
      <p>{{ review.text }}</p>
      <div class="stars">
        <i
          *ngFor="let star of [1, 2, 3, 4, 5]"
          class="fas"
          [ngClass]="{
            'fa-star': star <= review.rating,
            'fa-star-o': star > review.rating
          }"
        ></i>
      </div>
    </div>
  </div>
</div>

<div class="faq-section mt-5">
  <h2>Často kladené otázky</h2>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let faq of faqs">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ faq.question }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="faq-answer">
        <p>{{ faq.answer }}</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
