.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar {
  padding: 0px 5px 0px 5px; /* top right bottom left */
}

.icon-width {
  width: 20px;
  display: inline-block;
  text-align: center;
}

.navigation {
  padding: 10px;

  @media (min-width: 768px) {
    /* md and larger screens */
    padding: 25px;
  }
}
