<div class="pos-f-t navigation">
  <div class="collapse d-md-none" id="navbarToggleExternalContent">
    <div class="p-4 d-flex flex-column align-items-start">
      <div class="mt-3 w-100">
        <button class="btn btn-block text-left">
          <i class="fas fa-home mr-2 icon-width"></i> Domov
        </button>
        <button class="btn btn-block text-left">
          <i class="fas fa-map-marker-alt mr-2 icon-width"></i> Lokalita
        </button>
        <button class="btn btn-block text-left">
          <i class="fas fa-glass-cheers mr-2 icon-width"></i> Priestory
        </button>
        <button class="btn btn-block text-left">
          <i class="fas fa-walking mr-2 icon-width"></i> Obhliadka
        </button>
      </div>
    </div>
  </div>

  <nav
    class="navbar navbar bg-white d-flex align-items-center justify-content-between"
  >
    <div class="d-flex ml-auto">
      <button
        class="navbar-toggler d-md-none"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="d-none d-md-flex w-100 justify-content-center">
      <!-- <a class="navbar-brand" href="#">
        <img src="assets/img/logo/logo.png" alt="Logo" />
      </a> -->
      <a class="nav-link text-black mx-4" href="#">
        <i class="fas fa-home mr-2 icon-width"></i> Domov
      </a>
      <a class="nav-link text-black mx-4" href="#">
        <i class="fas fa-map-marker-alt mr-2 icon-width"></i> Lokalita
      </a>
      <a class="nav-link text-black mx-4" href="#">
        <i class="fas fa-glass-cheers mr-2 icon-width"></i> Priestory
      </a>
      <a class="nav-link text-black mx-4" href="#">
        <i class="fas fa-walking mr-2 icon-width"></i> Obhliadka
      </a>
    </div>
  </nav>
</div>
