html,
body {
  height: 100%;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-navbar {
  flex: 0 0 auto; /* Navbar takes only the space it needs */
}

.content {
  flex: 1 0 auto; /* Content takes the remaining space */
}

app-footer {
  flex: 0 0 auto; /* Footer takes only the space it needs */
}
