/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px; /* Optional: Add padding for better spacing */
  box-sizing: border-box; /* Ensure padding is included in the element's total width */
  min-height: 100vh; /* Ensure the container takes at least the full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
